OFX Tax.2020.0 All Files/OFXTax.v2020.0/OFXTax_Profile.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!--
    Open Financial Exchange Specification (c)1996-2004 ("Specification") by all of its publishers: 
    CheckFree Corp., Intuit Inc., and Microsoft Corporation. All rights reserved. 

    Revision History:

    Version Date        Editor Email Addr               Short Description
    _______ __________  ____________________________    _________________
    p18     2002-02-11  altenburgd@businesslogic.com    Initial revision
    p20     2002-03-17  Gil_Clark@intuit.com            Changed name of base types to use Abstract naming convention.
    p21     2002-03-17  altenburgd@businesslogic.com    Changed elementFormDefault to "unqualified"
                                                            Changed namespace to "http://ofx.net/types/2003/04"
    p23     2002-05-13  altenburgd@businesslogic.com    Bugfixes based on Intuit Schema QA
    RC4     2003-06-24  gil_clark@intuit.com            Added collapse to fixed length, non-string types and enums.
    RC4     2002-07-07  altenburgd@businesslogic.com    Changed numeric types to restrict strings for more control over actual length
                                                            Changed name of MAXMIntegerType to PasswordLengthType
                                                            Removed extraneous global "List" element
    RC5     2002-07-22  gil_clark@intuit.com            Changed PasswordLengthType's back to MAXMINIntType.
    p1.1    2003-03-23  altenburgd@businesslogic.com    Added Loan profile messages
    p1.2    2006-06-13  wendy_dubois@intuit.com         Some bug fixes
            2006-05-17  wendy_dubois@intuit.com         Added MFA tags to SIGNONINFO aggregate
            2016-03-14  bill.cary@innovision.com        Changes for OFX version 2.2
            2016-04-29  bill.cary@innovision.com        Add all missed tax updates through Tax Year 2015
    2.2.1   2019-02-19  bill.cary@innovision.com        Add optional USERINFOAVAIL profile response tag for indicating USERINFORQ/RS support
    Tax2.0  2019-09-30  clyde.e.cutting@wellsfargo.com  Introduction of TAXPDF for exchange of PDF tax forms and Form 2439 for TY19
    2020.0  2020-09-21  wendy_dubois@intuit.com         Removed non-tax elements and renamed to OFXTax_Profile.xsd for combined Tax-only OFX release v2020.0
-->
<xsd:schema xmlns:ofx="http://ofx.net/types/2003/04" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ofx.net/types/2003/04" elementFormDefault="unqualified">
	<xsd:include schemaLocation="OFXTax_Common.xsd"/>
	<xsd:simpleType name="CharTypeEnum">
		<xsd:annotation>
			<xsd:documentation>The OFX element "CHARTYPEENUM" is of type "CharTypeEnum"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="collapse"/>
			<xsd:enumeration value="ALPHAONLY"/>
			<xsd:enumeration value="NUMERICONLY"/>
			<xsd:enumeration value="ALPHAORNUMERIC"/>
			<xsd:enumeration value="ALPHAANDNUMERIC"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ClientRoutingEnum">
		<xsd:annotation>
			<xsd:documentation>The OFX element "CLIENTROUTINGENUM" is of type "ClientRoutingEnum"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="collapse"/>
			<xsd:enumeration value="NONE"/>
			<xsd:enumeration value="SERVICE"/>
			<xsd:enumeration value="MSGSET"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="MessageSetCore">
		<xsd:annotation>
			<xsd:documentation>The OFX element "MSGSETCORE" is of type "MessageSetCore"</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="VER" type="ofx:VersionType"/>
			<xsd:element name="URL" type="ofx:UrlType"/>
			<xsd:element name="OFXSEC" type="ofx:SecurityEnum"/>
			<xsd:element name="TRANSPSEC" type="ofx:BooleanType"/>
			<xsd:element name="SIGNONREALM" type="ofx:GenericNameType"/>
			<xsd:element name="LANGUAGE" type="ofx:LanguageEnum" maxOccurs="unbounded"/>
			<xsd:element name="SYNCMODE" type="ofx:SyncEnum"/>
			<xsd:element name="REFRESHSUPT" type="ofx:BooleanType" minOccurs="0"/>
			<xsd:element name="RESPFILEER" type="ofx:BooleanType"/>
			<xsd:element name="SPNAME" type="ofx:GenericNameType" minOccurs="0"/>
			<xsd:element name="OFXEXTENSION" type="ofx:OFXExtensionType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="MessageSetMacro">
		<xsd:annotation>
			<xsd:documentation>The OFX element "MSGSETMACRO" is of type "MessageSetMacro"</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="TAX1099MSGSET" type="ofx:Tax1099MessageSet"/>
			<xsd:element name="TAX1098MSGSET" type="ofx:Tax1098MessageSet"/>
			<xsd:element name="TAXW2MSGSET" type="ofx:TaxW2MessageSet"/>
			<xsd:element name="TAX1095MSGSET" type="ofx:Tax1095MessageSet"/>
			<xsd:element name="TAXPDFMSGSET" type="ofx:TaxPDFMessageSet"/>
			<xsd:element name="TAXK1MSGSET" type="ofx:TaxK1MessageSet"/>
			<xsd:element name="TAX1097MSGSET" type="ofx:Tax1097MessageSet"/>
			<xsd:element name="TAX5498MSGSET" type="ofx:Tax5498MessageSet"/>
			<xsd:element name="TAXW2GMSGSET" type="ofx:TaxW2GMessageSet"/>
			<xsd:element name="TAX2439MSGSET" type="ofx:Tax2439MessageSet"/>
		</xsd:choice>
	</xsd:group>
	<xsd:complexType name="AbstractMessageSet" abstract="true"/>
	<xsd:complexType name="AbstractMessageSetVersion" abstract="true">
		<xsd:sequence>
			<xsd:element name="MSGSETCORE" type="ofx:MessageSetCore"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Tax1099MessageSet">
		<xsd:annotation>
			<xsd:documentation>The OFX element "TAX1099MSGSET" is of type "Tax1099MessageSet"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractMessageSet">
				<xsd:sequence>
					<xsd:element name="TAX1099MSGSETV1" type="ofx:Tax1099MessageSetV1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tax1099MessageSetV1">
		<xsd:annotation>
			<xsd:documentation>The OFX element "TAX1099MSGSETV1" is of type "Tax1099MessageSetV1"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractMessageSetVersion">
				<xsd:sequence>
					<xsd:element name="TAX1099DNLD" type="ofx:BooleanType"/>
					<xsd:element name="EXTD1099B" type="ofx:BooleanType"/>
					<xsd:element name="TAXYEARSUPPORTED" type="ofx:YearType" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TaxW2MessageSet">
		<xsd:annotation>
			<xsd:documentation>The OFX element "TAXW2MSGSET" is of type "TaxW2MessageSet"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractMessageSet">
				<xsd:sequence>
					<xsd:element name="TAXW2MSGSETV1" type="ofx:TaxW2MessageSetV1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TaxW2MessageSetV1">
		<xsd:annotation>
			<xsd:documentation>The OFX element "TAXW2MSGSETV1" is of type "TaxW2MessageSetV1"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractMessageSetVersion">
				<xsd:sequence>
					<xsd:element name="TAXW2DNLD" type="ofx:BooleanType"/>
					<xsd:element name="TAXYEARSUPPORTED" type="ofx:YearType" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tax1098MessageSet">
		<xsd:annotation>
			<xsd:documentation>The OFX element "TAX1098MSGSET" is of type "Tax1098MessageSet"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractMessageSet">
				<xsd:sequence>
					<xsd:element name="TAX1098MSGSETV1" type="ofx:Tax1098MessageSetV1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tax1098MessageSetV1">
		<xsd:annotation>
			<xsd:documentation>The OFX element "TAX1098MSGSETV1" is of type "Tax1098MessageSetV1"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractMessageSetVersion">
				<xsd:sequence>
					<xsd:element name="TAX1098DNLD" type="ofx:BooleanType"/>
					<xsd:element name="TAXYEARSUPPORTED" type="ofx:YearType" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tax1095MessageSet">
		<xsd:annotation>
			<xsd:documentation>The OFX element "TAX1095MSGSET" is of type "Tax1095MessageSet"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractMessageSet">
				<xsd:sequence>
					<xsd:element name="TAX1095MSGSETV1" type="ofx:Tax1095MessageSetV1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tax1095MessageSetV1">
		<xsd:annotation>
			<xsd:documentation>The OFX element "TAX1095MSGSETV1" is of type "Tax1095MessageSetV1"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractMessageSetVersion">
				<xsd:sequence>
					<xsd:element name="TAX1095DNLD" type="ofx:BooleanType"/>
					<xsd:element name="TAXYEARSUPPORTED" type="ofx:YearType" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TaxPDFMessageSet">
		<xsd:annotation>
			<xsd:documentation>The OFX element "TAXPDFMSGSET" is of type "TaxPDFMessageSet". Added TY19.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractMessageSet">
				<xsd:sequence>
					<xsd:element name="TAXPDFMSGSETV1" type="ofx:TaxPDFMessageSetV1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TaxPDFMessageSetV1">
		<xsd:annotation>
			<xsd:documentation>The OFX element "TAXPDFMSGSETV1" is of type "TaxPDFMessageSetV1". Added TY19.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractMessageSetVersion">
				<xsd:sequence>
					<xsd:element name="TAXPDFDNLD" type="ofx:BooleanType"/>
					<xsd:element name="TAXYEARSUPPORTED" type="ofx:YearType" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TaxK1MessageSet">
		<xsd:annotation>
			<xsd:documentation>The OFX element "TAXK1MSGSET" is of type "TaxK1MessageSet"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractMessageSet">
				<xsd:sequence>
					<xsd:element name="TAXK1MSGSETV1" type="ofx:TaxK1MessageSetV1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TaxK1MessageSetV1">
		<xsd:annotation>
			<xsd:documentation>The OFX element "TAXK1MSGSETV1" is of type "TaxK1MessageSetV1"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractMessageSetVersion">
				<xsd:sequence>
					<xsd:element name="TAXK1DNLD" type="ofx:BooleanType"/>
					<xsd:element name="TAXYEARSUPPORTED" type="ofx:YearType" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tax1097MessageSet">
		<xsd:annotation>
			<xsd:documentation>The OFX element "TAX1097MSGSET" is of type "Tax1097MessageSet"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractMessageSet">
				<xsd:sequence>
					<xsd:element name="TAX1097MSGSETV1" type="ofx:Tax1097MessageSetV1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tax1097MessageSetV1">
		<xsd:annotation>
			<xsd:documentation>The OFX element "TAX1097MSGSETV1" is of type "Tax1097MessageSetV1"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractMessageSetVersion">
				<xsd:sequence>
					<xsd:element name="TAX1097DNLD" type="ofx:BooleanType"/>
					<xsd:element name="TAXYEARSUPPORTED" type="ofx:YearType" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tax5498MessageSet">
		<xsd:annotation>
			<xsd:documentation>The OFX element "TAX5498MSGSET" is of type "Tax5498MessageSet"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractMessageSet">
				<xsd:sequence>
					<xsd:element name="TAX5498MSGSETV1" type="ofx:Tax5498MessageSetV1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tax5498MessageSetV1">
		<xsd:annotation>
			<xsd:documentation>The OFX element "TAX5498MSGSETV1" is of type "Tax5498MessageSetV1"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractMessageSetVersion">
				<xsd:sequence>
					<xsd:element name="TAX5498DNLD" type="ofx:BooleanType"/>
					<xsd:element name="TAXYEARSUPPORTED" type="ofx:YearType" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TaxW2GMessageSet">
		<xsd:annotation>
			<xsd:documentation>
        The OFX element "TAXW2GMSGSET" is of type "TaxW2GMessageSet"
      </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractMessageSet">
				<xsd:sequence>
					<xsd:element name="TAXW2GMSGSETV1" type="ofx:TaxW2GMessageSetV1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TaxW2GMessageSetV1">
		<xsd:annotation>
			<xsd:documentation>
        The OFX element "TAXW2GMSGSETV1" is of type "TaxW2GMessageSetV1"
      </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractMessageSetVersion">
				<xsd:sequence>
					<xsd:element name="TAXW2GDNLD" type="ofx:BooleanType"/>
					<xsd:element name="TAXYEARSUPPORTED" type="ofx:YearType" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tax2439MessageSet">
		<xsd:annotation>
			<xsd:documentation>The OFX element "TAX2439MSGSET" is of type "Tax2439MessageSet". Added TY19.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractMessageSet">
				<xsd:sequence>
					<xsd:element name="TAX2439MSGSETV1" type="ofx:Tax2439MessageSetV1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Tax2439MessageSetV1">
		<xsd:annotation>
			<xsd:documentation>The OFX element "TAX2439MSGSETV1" is of type "Tax2439MessageSetV1". Added TY19.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractMessageSetVersion">
				<xsd:sequence>
					<xsd:element name="TAX2439DNLD" type="ofx:BooleanType"/>
					<xsd:element name="TAXYEARSUPPORTED" type="ofx:YearType" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="MAXMINType">
		<xsd:annotation>
			<xsd:documentation>The OFX element "MAXMIN" is of type "MAXMINType"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2"/>
			<xsd:whiteSpace value="collapse"/>
			<xsd:pattern value="[0-9]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="MessageSetList">
		<xsd:annotation>
			<xsd:documentation>The OFX element "MSGSETLIST" is of type "MessageSetList"</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:sequence>
				<xsd:choice>
					<xsd:sequence>
						<xsd:element name="SIGNONMSGSET" type="ofx:SignonMessageSet"/>
						<xsd:sequence maxOccurs="unbounded">
							<xsd:group ref="ofx:MessageSetMacro"/>
						</xsd:sequence>
						<xsd:element name="PROFMSGSET" type="ofx:ProfileMessageSet"/>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element name="PROFMSGSET" type="ofx:ProfileMessageSet"/>
						<xsd:sequence minOccurs="0" maxOccurs="unbounded">
							<xsd:group ref="ofx:MessageSetMacro"/>
						</xsd:sequence>
						<xsd:element name="SIGNONMSGSET" type="ofx:SignonMessageSet"/>
					</xsd:sequence>
				</xsd:choice>
				<xsd:sequence minOccurs="0" maxOccurs="unbounded">
					<xsd:group ref="ofx:MessageSetMacro"/>
				</xsd:sequence>
			</xsd:sequence>
			<xsd:sequence>
				<xsd:sequence maxOccurs="unbounded">
					<xsd:group ref="ofx:MessageSetMacro"/>
				</xsd:sequence>
				<xsd:sequence>
					<xsd:choice>
						<xsd:element name="SIGNONMSGSET" type="ofx:SignonMessageSet"/>
						<xsd:element name="PROFMSGSET" type="ofx:ProfileMessageSet"/>
					</xsd:choice>
					<xsd:sequence minOccurs="0" maxOccurs="unbounded">
						<xsd:group ref="ofx:MessageSetMacro"/>
					</xsd:sequence>
					<xsd:choice>
						<xsd:element name="PROFMSGSET" type="ofx:ProfileMessageSet"/>
						<xsd:element name="SIGNONMSGSET" type="ofx:SignonMessageSet"/>
					</xsd:choice>
				</xsd:sequence>
				<xsd:sequence minOccurs="0" maxOccurs="unbounded">
					<xsd:group ref="ofx:MessageSetMacro"/>
				</xsd:sequence>
			</xsd:sequence>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="ProfileMessageSet">
		<xsd:annotation>
			<xsd:documentation>The OFX element "PROFMSGSET" is of type "ProfileMessageSet"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractMessageSet">
				<xsd:sequence>
					<xsd:element name="PROFMSGSETV1" type="ofx:ProfileMessageSetV1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProfileMessageSetV1">
		<xsd:annotation>
			<xsd:documentation>The OFX element "PROFMSGSETV1" is of type "ProfileMessageSetV1"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractMessageSetVersion"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="SecurityEnum">
		<xsd:annotation>
			<xsd:documentation>The OFX element "SECURITYENUM" is of type "SecurityEnum"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="collapse"/>
			<xsd:enumeration value="NONE"/>
			<xsd:enumeration value="TYPE1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SignonInfo">
		<xsd:annotation>
			<xsd:documentation>The OFX element "SIGNONINFO" is of type "SignonInfo"</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SIGNONREALM" type="ofx:GenericNameType"/>
			<xsd:element name="MIN" type="ofx:MAXMINType"/>
			<xsd:element name="MAX" type="ofx:MAXMINType"/>
			<xsd:element name="CHARTYPE" type="ofx:CharTypeEnum"/>
			<xsd:element name="CASESEN" type="ofx:BooleanType"/>
			<xsd:element name="SPECIAL" type="ofx:BooleanType"/>
			<xsd:element name="SPACES" type="ofx:BooleanType"/>
			<xsd:element name="PINCH" type="ofx:BooleanType"/>
			<xsd:element name="CHGPINFIRST" type="ofx:BooleanType"/>
			<xsd:sequence minOccurs="0" maxOccurs="1">
				<xsd:element name="USERCRED1LABEL" type="ofx:MFATextType"/>
				<xsd:element name="USERCRED2LABEL" type="ofx:MFATextType" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:element name="CLIENTUIDREQ" type="ofx:BooleanType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AUTHTOKENFIRST" type="ofx:BooleanType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AUTHTOKENLABEL" type="ofx:MFATextType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AUTHTOKENINFOURL" type="ofx:MFAUrlType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="MFACHALLENGESUPT" type="ofx:BooleanType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="MFACHALLENGEFIRST" type="ofx:BooleanType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ACCESSTOKENREQ" type="ofx:BooleanType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SignonInfoList">
		<xsd:annotation>
			<xsd:documentation>The OFX element "SIGNONINFOLIST" is of type "SignonInfoList"</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SIGNONINFO" type="ofx:SignonInfo" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SignonMessageSet">
		<xsd:annotation>
			<xsd:documentation>The OFX element "SIGNONMSGSET" is of type "SignonMessageSet"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractMessageSet">
				<xsd:sequence>
					<xsd:element name="SIGNONMSGSETV1" type="ofx:SignonMessageSetV1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SignonMessageSetV1">
		<xsd:annotation>
			<xsd:documentation>The OFX element "SIGNONMSGSETV1" is of type "SignonMessageSetV1"</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ofx:AbstractMessageSetVersion"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="SyncEnum">
		<xsd:annotation>
			<xsd:documentation>The OFX element "SYNCENUM" is of type "SyncEnum"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="collapse"/>
			<xsd:enumeration value="FULL"/>
			<xsd:enumeration value="LITE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VersionType">
		<xsd:annotation>
			<xsd:documentation>The OFX element "VER" is of type "VersionType"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="5"/>
			<xsd:whiteSpace value="collapse"/>
			<xsd:pattern value="[0-9]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MFATextType">
		<xsd:annotation>
			<xsd:documentation>The OFX elements "USERCRED1LABEL" and "USERCRED2LABEL" are of type "MFATextType"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="64"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MFAUrlType">
		<xsd:annotation>
			<xsd:documentation>The OFX element "AUTHTOKENINFOURL" is of type "MFAUrlType"</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
